<div class="card mb-2">
  <div class="card-header d-flex justify-content-end">
    <small>Comment from {{user.username}} on {{format_date updatedAt}}</small>
  </div>
  <div class="card-body">
    <p class="card-text">{{message}}</p>
  </div>
</div>