<div class="dashboard-post mb-2">
  <a href="/dashboard/edit-post/{{id}}">
    <div class="d-flex justify-content-between align-items-center">
      <p>{{title}}</p>
      <small>{{format_date createdAt}}</small>
    </div>
  </a>
</div>