<div class="card border-primary">
  <div class="card-header ">
    {{#if newPost}}
    <h3>Create Post</h3>
    {{else}}
    <h3>Edit Post</h3>
    {{/if}}
  </div>

  <div class="card-body">
    <form id="form-post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea id="content" class="form-control" rows="5"></textarea>
      </div>

      <div class="text-center">
        {{#if newPost}}
        <button type="submit" class="btn btn-dark">Post</button>
        {{else}}
        <button id="btn-post-update" class="btn btn-dark">Update</button>
        <button id="btn-post-delete" class="btn btn-danger">Delete</button>
        {{/if}}
      </div>
    </form>
  </div>
</div>

{{#if newPost}}
<script src="/js/post-new.js"></script>
{{else}}
<script src="/js/post-manager.js"></script>
{{/if}}