<section>
  {{> post-details}}
</section>

<section>
  {{#if comments.length}}
  <h5 class="mb-2">Comments</h5>

  {{#each comments as |comment|}}
  {{> comment-details}}
  {{/each}}
  {{/if}}
</section>